---
/**
 * Inori Blog — topbar.
 *
 * Thin strip above the nav. GitHub link on left.
 * Locale switcher removed — single-language (Chinese) blog.
 */
---

<div class='topbar' data-od-id='topbar'>
  <div class='container topbar-inner'>
    <span class='topbar-left'>
      <a class='topbar-link' href='https://github.com/emosamastudio/inori-blog' target='_blank' rel='noopener noreferrer'>
        GitHub
      </a>
    </span>
    <span class='topbar-right' />
  </div>
</div>
